doctype html
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        title Hello World, I'm Cao Mai !
        meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet",href="css/styles.css")
        link(rel="stylesheet",href="css/barrage.css")
    body
        div.container
            header
                h1 Hello World, I'm Cao Mai !
            div.blessings
                div.barrage
                    div.screen
                        div.mask
            footer
                a(href="https://github.com/ssdut153/Hello-World-CaoMai-.git",target="_blank")
    script(src="js/vendor/jquery.min.js")
    script(src="js/styles.js")
    script(src="js/barrage.js")
    script(src="js/console.js")